<!DOCTYPE html>
<html>
<head>
    <title>Show Image from JSON using jQuery</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <style>
        table, input {
            width: 300px;
            font: 17px Calibri;
        }

        table, th, td {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }

        table img {
            border: none;
            width: 51px;
            height: 51px;
        }
    </style>
</head>
<body>


<p><input type="button" id="btShowImage" value="Click to Show Images"/></p>
<div id='showData'></div>
</body>
<script>

    function datetime_from_json(value) {
        let dt = new Date(parseInt(value))
        return ((dt.getMonth() + 1) + "/" + (dt.getDate() + 1) + "/" + dt.getFullYear());
    }

    let header_array = ["Stock#", "VIN", "Manufacture", "Model", "Year", "Image", "Purchased", "Purchase$", "Shipping$", "Add$"]
    let data_array = ["_id", "vin", "manufacture", "model", "year", "vehicle_image_gridfs", "purchase_date", "purchase_price", "shipping_cost", "add_cost"]

    $(document).ready(function () {
        $('#btShowImage').click(function () {
            $.getJSON("_find", function (data) {
                let results_array = [];      // The array to store JSON items.
                $.each(data, function (key, value) {
                    results_array.push(value);
                });
                // Create a <table> element dynamically.
                let table = document.createElement("table");
                let tr = table.insertRow(-1);                   // Table row.
                for (let i = 0; i < header_array.length; i++) {
                    let th = document.createElement("th");      // Table header.
                    th.innerHTML = header_array[i];
                    tr.appendChild(th);
                }

                // Add JSON data to the table as rows.
                for (let i = 0; i < results_array.length; i++) {
                    tr = table.insertRow(-1);

                    for (let j = 0; j < header_array.length; j++) {
                        let tabCell = tr.insertCell(-1);
                        if (data_array[j].includes("image")) {      // column has image in the title
                            // Create an <img> element show the images.
                            if (!results_array[i].vehicle_image_gridfs) {
                                tabCell.innerHTML = "";
                            } else {
                                let img = document.createElement("img");
                                img.src = "data:image/jpg;base64," + results_array[i]["vehicle_image_gridfs"];   // The image source from JSON array.
                                tabCell.appendChild(img);
                            }
                        } else if (data_array[j].includes("date")) {
                            tabCell.innerHTML = datetime_from_json(results_array[i][data_array[j]]["$date"]);
                        } else if (data_array[j].includes("cost") || data_array[j].includes("price")) {
                            tabCell.innerHTML = new Intl.NumberFormat(
                                "en-US", {
                                    style: "currency",
                                    currency: "USD"
                                }).format(results_array[i][data_array[j]]);
                        } else {
                            tabCell.innerHTML = results_array[i][data_array[j]];
                        }
                    }

                }

                // Finally, add the newly created <table> with data to a container.
                let divContainer = document.getElementById("showData");
                divContainer.innerHTML = "";
                divContainer.appendChild(table);
            });
        });
    });
</script>
</html>